<header>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</header>
<h1>playlist</h1>

<label id="label"><%= id %></label>
<label id="token" hidden="true"><%= accessToken %></label>
<input type="file" id="photoUpload" value="upload Photo" />
<input type="button" onclick="uploadPhoto()" value="submit" />


<script>
    function uploadPhoto(){
        var file = document.getElementById("photoUpload").files[0];
        var id = document.getElementById("label").textContent;
        var token = document.getElementById("token").textContent;
        console.log(id);
        var url = 'https://api.spotify.com/v1/playlists/' + id + '/images';

        $.ajax({
            url: url,
            headers: {
                'Authorization': token,
                'Content-Type':'image/jpeg'
        },
            method: 'PUT',
            dataType: 'image',
            data: btoa(file),
        success: function(data){
        console.log('succes: '+data);
        }
  });
    }
</script>
