<!doctype html>
<html>
  <head>
    <title>Example of the Authorization Code flow with Spotify</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <style type="text/css">
      #login, #loggedin {
        display: none;
      }
      .text-overflow {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 500px;
      }
    </style>
  </head>

  <body>
    <img  src="<%= profilePictureLink%>" title="<%= profilePictureLink%>">
    <h1> Hello <%= displayName %></h1>
    <h3>Access token:  </h3>
    <div style="width: 900px; overflow-y: auto" id="token_text">
        <%= accessToken %>
    </div>
    <button onclick="selectText()">Select all</button>
    <a href="/playback" class="btn btn-primary">Playback SDK</a>
    <script>
      function selectText()
      {
        if (document.selection) {
            var range = document.body.createTextRange();
            range.moveToElementText(document.getElementById('token_text'));
            range.select();
            console.log('if');
        } else if (window.getSelection) {
          console.log('else if');

            var range = document.createRange();
            range.selectNode(document.getElementById('token_text'));
            window.getSelection().empty();
            window.getSelection().addRange(range);
        }
      }
    </script>
  </body>
</html>

